body {
    background-color: #cccccc; /* Light gray color */
}

.header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left:10%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-sign {
    color: darkorange;
    cursor: pointer;
    text-decoration: underline;
}

.header-sign:hover {
    color: lightsalmon;
    text-decoration: none;
}

.header-text {
    position: absolute;
    left: 75%;
}

.header-button {
    position: absolute;
    right: 75%;
}

.header-logo {
    align-items: center;
    margin: 0 auto;
    flex-grow: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: #333;
    left: -10%;
    top: 0;
    bottom: 0;
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0;
}

.toplink {
    margin-top: 33%;
}

.content {
    transition: margin-left 0.3 ease;
}

.content.shift {
    margin-left: 250px;
}

.sidebar p {
    color: #FFF;
}

.sidebar a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: wavy;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height:100vh;
}
