.expanded {
    border: 1px solid #222;
    border-radius: 8px;
    max-width: 790px; /* Use max-width for responsiveness */
    padding: 20px;
    margin: 10px auto; /* Center align the expanded section */
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    align-items: center;
}


.expanded h1 {
    font-weight:bolder;
    background: linear-gradient(to right, #ff7e5f, darkorange);
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: 1.5px;
}

.expanded span {
    border-top: 1px solid #ccc;
    width:95%;
}

.expanded p {
    text-align: center;
    color: #ccc;
}

.expanded ul li {
    margin-right: 15px; /* Space between items */
    color: #ccc;
    list-style-type: none;
}

.ascores, .feats, .spells, .backpack {
    display:flex;
    justify-content:center;
    align-items:center;
}

.ascores ul, .feats ul, .spells ul, .backpack ul {
    width: auto;
}

.ascores li, .feats li, .spells li, .backpack li {
    display: flex;
    flex-direction: column;
    background-color:darkorange;
    border-radius:8px;
    padding: 5px;
    height: auto;
    align-items:center;
    justify-content:center;
}

.backpack li {
    width: 25%;
}

.ascores li {
    width: auto;
}

.card-body {
    width: 90%;
}