.input-container {
    position: fixed;
    top: 10%;
    right: 5%;
    min-width: 30%;
    max-width: 80%; /* Adjust width as needed */
    min-height:35%;
    max-height:80%;
    overflow-y:auto;
    background-color: #333;
    padding: 10px;
    border-radius:8px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(120%);
    transition: transform 0.3s ease;
    align-items:flex-start;
}

.input-container h2 {
    /*color: darkorange;*/
    font-weight:bolder;
    background: linear-gradient(to right, #ff7e5f, darkorange);
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: 1.5px;
}

.input-container.open {
    transform: translateX(0);
}

.character-form {
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}

.character-form p {
    color: #ccc;
}

.add-btn {
    min-width:80px;
    width:auto;
    height:20px;
    align-items:center;
    margin-bottom:5px;
}

.formText {
    width: 90%;
    display:flex;
    justify-content:center;
    border-top: 1px solid #ccc;
    padding-top:10px;
}

.subform input {
    width:70px;
    background-color: orange;
}

.form-row {
    display: flex;
    flex-direction:row;
    width:100%;
}

#fr-0 input {
    width:95%;
}

#fr-1 input {
    width:95%;
}

.labelPair {
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:flex-start;
}

.labelPair label {
    color:#ccc;
    font-size:small;
}

.ascore, .feat, .spell, .item {
    display:flex;
    flex-direction:column;
    background-color:darkorange;
    padding:10px;
    border-radius:8px;
    height:100%;
}
.ascore, .feat, .spell, .item p {
    color:#ccc;
}

.form-row span {
    margin-left:5px;
}

.lore-input {
    width:98%;
    min-height:50px;
}

.submit-character-button {
    
}