.input-container {
    position: fixed;
    top: 10%;
    right: 5%;
    min-width: 30%;
    max-width: 80%; /* Adjust width as needed */
    min-height:35%;
    max-height:80%;
    overflow-y:auto;
    background-color: #333;
    padding: 10px;
    border-radius:8px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(120%);
    transition: transform 0.3s ease;
    align-items:flex-start;
}

.input-container h2 {
    color: darkorange;
}

.input-container.open {
    transform: translateX(0);
}

.character-form {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.character-form input {
    margin-bottom: 10px;
}

.character-form p {
    color: #ccc;
    margin-right: 10px;
}

#add-btn {
    width:50px;
}

.subform input {
    width:50px;
}

.form-row {
    display: flex;
    flex-direction:row;
}

#fr-1 input {
    width:50px;
}

#fr-1 span {
    margin-left:10px;
}

.labelPair {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.labelPair label {
    color:#ccc;
}

.ascore, .feat, .spell, .item {
    background-color:darkorange;
    padding:2px;
}
.ascore, .feat, .spell, .item p {
    color:#ccc;
}

.form-row span {
    margin-left:5px;
}