.innview {
    display: flex;
    flex-direction: row;
}

.expanded {
    border: 1px solid #fff;
    border-radius: 8px;
    width: 790px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}