.innview {
    display: flex;
    flex-direction: row;
}

.navButtons {
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color:#333;
    justify-content:center;
    width:58%;
    border-radius:20px;
}
