.profile-details {
    display:flex;
    flex-direction:column;
    background-color:#333;
    width:60%;
    justify-content:center;
    align-items:center;
    border-radius:8px;
}

.profile-details p {
    color: #ccc;
}

.profile-details strong {
    font-weight:bolder;
    background: linear-gradient(to right, #ff7e5f, darkorange);
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: 1.5px;
}

.character-block {
    display: flex;
    flex-direction: column;
}

.user-characters {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:20px;
    justify-content:center;
    align-items: start;
}

h1 {
    /*color: darkorange;*/
    font-weight:bolder;
    background: linear-gradient(to right, #ff7e5f, darkorange);
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: 1.5px;
}

.details-block {
    max-width:100%;
}